name: Python Tests

on:
  push:
    branches:
    - main
  pull_request:

  
jobs:
  unit:
    runs-on: ${{ matrix.os }}
      permissions:
      contents: read
      checks: write
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python_version: ['3.10', '3.11', '3.12', '3.13']
        resolution: [lowest-direct, highest]
    steps:
    - uses: actions/checkout@v4
    - name: Install poetry
      run: pipx install poetry
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python_version }}
        cache: pip

    - name: Install dependencies on macOS
      if: runner.os == 'macOS'
      run: |
        brew install libomp gfortran

    - name: Install dependencies
      run: |
        poetry env use python
        poetry run pip install uv
        poetry run uv pip install --resolution=${{ matrix.resolution }} .
        poetry install --only dev
      shell: bash
    - name: Run tests
      id: run-tests
      run: >
        poetry run pytest \
          --junitxml=pytest.xml \
          --cov-report=term-missing:skip-covered \
          --cov-report=xml:coverage.xml \
          --cov=src tests \
          --log-level=DEBUG \
          --verbose
      shell: bash
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true

  ruff:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
    - name: Install poetry
      run: pipx install poetry
    - uses: actions/setup-python@v5
      with:
        python-version-file: pyproject.toml
        cache: poetry
    - name: Install dependencies
      run: |
        poetry install --only dev
    - name: Ruff format
      run: poetry run ruff format --check
    - name: Ruff check
      run: poetry run ruff check

  mypy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
    - name: Install poetry
      run: pipx install poetry
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: poetry
    - run: |
        poetry install
        poetry run mypy .
